DATABASE_URL=""
DATABASE_ADMIN_URL=""
DATABASE_DRIVER="node-postgres"
SUPABASE_MIGRATION_DATABASE_URL=""
BETTER_AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
RESEND_API_KEY=""
AI_GATEWAY_API_KEY=""
